@import url('https://pvinis.github.io/iosevka-webfont/3.4.1/iosevka.css');

pre, code {
    font-size: 0.9em;
    font-family: 'Iosevka Web', monospace;
}

.justified-gallery-filterbar button {
    padding: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    color: #000;
    line-height: 1em;
}